.content {
    background-color: #f7f7f7;   
    padding-bottom: 3%;
    height: 100%;
}

.text-decoration-none {
    text-decoration: none;
    /*color: white;*/
}

#pipeline-table {
    height: 400px;
}

.table-title {
    padding-bottom: 1%;
}

table th{
    font-size: 0.80em;
}

table th{
    width: 100px;
}

tbody tr:hover{
    background-color: #e1ecf4;    
}

.input-sm{
    max-width: 80px;
}
.input-md{
    max-width: 100px;
}

.input-lg{
    max-width: 150px;
}

.input_lst{
    border: 0;
    background-color: transparent;
    font-size: 0.80em;
    color: rgb(79, 79, 88);
    position: relative;
}

.form-add{
    display: inline-block;
    font-size: 0.70em;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: hsla(0, 1%, 37%, 0.467) 1px solid;
    
}

.inpt_dt{
    max-width: 130px;
}
.inpt_prz{
    max-width: 70px;
}

.bt-action{
    margin-top: 1em;
    font-size: 1em;    
}

.btn-default.bt-action-tb {
    margin: 3px;
}
#group-save {
    display: flex;
}

.group-buttons-content {
    display: flex;
}

.group-buttons-content .bt-col{
    display: inline;
    width: auto;
    margin-right: 30px;
}


@media(max-width: 335px){
    .group-buttons-content {
        flex-direction: column;
    }
    .group-buttons-content .bt-col{
        margin-right: 0;
    }
    .btn{
        width: 100%;
    }
}
.btn-action-sm{
    width: 50px;
}